{% include "AppBundle::layout.html.twig" %}

	{% block body %}
	
	<div class="homeC container">

		 <!--barra ricerca -->
		<div class="barra-ricerca">
			<div class="form-group center">
			    <div class="inner-addon right-addon">
					<i class="glyphicon glyphicon-search"></i>
					<input id="cerca" name="cerca" class="form-control" placeholder="Cerca"  type="text">
			     </div>
			</div>
		 </div>

		  <!--inizio del riquadro dei commenti-->
		<div class="row black-box">
			<div class="single-box">
				<div class="col-md-12">
					<div class="parte_dati friends_div">
					  <p>Amici che hanno aggiunto Berlino</p>
					</div>
					<div class="immagine comment_image" style="background-image: url('http://rispendo.corriere.it/files/2013/10/berlinpanorama1.jpg')">
				   </div>
				<div>
						<div class="commento friends">
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
							<div class="friend">
							  <p class="blue">Luigi</p>
							  <p class="black">1h</p>
							</div>
						</div>
				</div>
			</div>
			</div>
		</div>
	</div>

  
  


	{% endblock %}