<!DOCTYPE html>
<html>
<head>
  <title>NexTrip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/style.css" rel="stylesheet" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
</head>
	<body>
		<header>
			<div class="row headB">
				<div class="col-md-1 pittogramma">
				  <a href="./home.php" alt="home">
					<img src="/images/pittogramma-black.svg" alt="logo">
				  </a>
				</div>
				<div class="col-md-2 logotipo">
				  <a href="./home.php" alt="home">
					<h1>nex<strong>t</strong>rip</h1>
				  </a>
				</div>

				<div class="col-md-9 menu">	
					<nav class="navbar-default" id="barra">
						<div class="container-fluid">
						
						  <!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar black-toggle"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar black-toggle"></span>
								</button>
								<div class="inner-addon bar-search">
								  <i id="glyphicon_search" class="glyphicon glyphicon-search"></i>
								  <input id="cerca" name="cerca" class="form-control" placeholder="Cerca"  type="text">
								</div>
							</div>

						  <!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
								  <li><a href="./profile.php">profilo</a></li>
								  <li><a href="./add_meta.php">viaggia</a></li>
								  <li><a href="./login.php">esci</a></li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
						  <div class="linea-blu"></div>
					</nav>
				</div>
			</div>
		</header>