	{% include "AppBundle::layout.html.twig" %}

	{% block body %}
	
	<div class="homeC container">
		  <!--barra ricerca -->
			<div class="barra-ricerca">
				<div class="form-group center">
					 <div class="inner-addon right-addon">
						<i class="glyphicon glyphicon-search"></i>
						<input id="cerca" name="cerca" class="form-control" placeholder="Cerca"  type="text">
					</div>
				</div>
			</div>
		  
		  <!--inizio dei riquadri home-->
			 <div class="row black-box-home">
				<div class="single-box-home">
					<div class="col-lg-12 col-md-12">
						<div class="parte_dati">
						  <p>Luigi ha aggiunto Berlino</p>
							 <span class="icone">
								<img src="/images/time.svg" alt="time" />
								<span>2h</span>
								<a href="./comments.php">
									<img src="/images/comment.svg" alt="comment" />
									<span>22</span>
								</a>
								<a href="./friends.php">
									<img src="/images/friends.svg" alt="friends" />
									<span>18</span>
								</a>
							</span>
						</div>
					<div class="immagine">
					  <img src="http://rispendo.corriere.it/files/2013/10/berlinpanorama1.jpg" alt="meta" />
				   </div>
					</div>
				</div>
			</div>
		   
			<div class="row black-box-home">
				<div class="single-box-home">
					 <div class="col-md-12">
						<div class="parte_dati">
						  <p>Luigi ha aggiunto Berlino</p>
						  <span class="icone">
							<img src="/images/time.svg" alt="time" />
							<span>2h</span>
							<a href="./comments.php">
							  <img src="/images/comment.svg" alt="comment" />
							  <span>22</span>
							</a>
							<a href="./friends.php">
							<img src="/images/friends.svg" alt="friends" />
							<span>18</span>
							</a>
						  </span>
						</div>
						<div class="immagine">
						  <img src="http://rispendo.corriere.it/files/2013/10/berlinpanorama1.jpg" alt="meta" />
					   </div>
					</div>
				</div>
			</div>
		   
		  <div class="row black-box-home">
			<div class="single-box-home">
			  <div class="col-md-12">
				<div class="parte_dati">
				  <p>Luigi ha aggiunto Berlino</p>
				  <span class="icone">
					<img src="/images/time.svg" alt="time" />
					<span>2h</span>
					<a href="./comments.php">
					  <img src="/images/comment.svg" alt="comment" />
					  <span>22</span>
					</a>
					<a href="./friends.php">
					<img src="/images/friends.svg" alt="friends" />
					<span>18</span>
					</a>
				  </span>
				</div>
				<div class="immagine">
				  <img src="http://rispendo.corriere.it/files/2013/10/berlinpanorama1.jpg" alt="meta" />
			   </div>
			  </div>
			</div>
		   </div>

	  
	</div>
	{% endblock %}